body {
	font: 1.8rem "Rubik", sans-serif;
	min-width: 320px;
	font-weight: normal;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	overflow-x: hidden;
}
p {
	font-size: 1.8rem;
	line-height: 2.8rem;
}
.dot {
	position: relative;
	z-index: 300;
}
.slick-active .dot {
	
}
.next, .prev {
	position: absolute;
	width: 70px;
	height: 9px;
	z-index: 300;
	cursor: pointer;
	bottom: -10px;
}
.next {
	background-image: url("../img/next.png");
}
.next:hover {
	background-image: url("../img/next_hover.png");
}
.prev {
	background-image: url("../img/prev.png");
}
.prev:hover {
	background-image: url("../img/prev_hover.png");
}
.slider_wrapper {
	position: relative;
}
.slider_wrapper:after, .slider:after {
	content: "";
	display: table;
	clear: both;
}
.share .timer {
	margin-top: 3rem;
}
.share .timer__item {
	display: inline-block;
	width: 70px;
	margin-right: 2.5rem;
	height: 70px;
	border: 1px solid #23a6a6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: .5rem;
	text-align: center;
	color: #2c213e;
}
.big-numb-time, .timer-text {
	color: #2c213e;
}
.big-numb-time {
	font-size: 3rem;
}
.timer-text {
	font-size: 1.4rem;
	position: relative;
	top: -5px;
}
.relative {
	position: relative;
}
button {
	border: none;
	background: none;
}
button, button:focus, button:hover, input, .thumbnail, .slick-slide, img, ul, li, a, a:focus, a:hover, div, div:focus textarea, textarea:focus {
	outline: none;
	text-decoration: none;
	color: inherit;
}
.politics {
	background-color: #fff;
}
.politics p {
	font-size: 18px;
	color: #000;
}
.politics_text {
	padding: 20px 40px;
}
.politics h3 {
	background: #1782ab;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
	margin: 0;
}
@media only screen and (max-width : 767px) {
	.politics h3 {
		font-size: 23px;
	}
}
section {
	padding: 80px 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
}
section h6 {
	font-weight: bold;
	font-size: 24px;
}
section h4 {
	
}
section h3 {
	font-size: 3.6rem;
	text-align: center;
	margin-top: 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
.thanks_body {
	background-image: url(../img/thanks_bg.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
	margin: 0;
	height: 100%;
	color: #fff;
	display: table;
	width: 100%;
	text-align: center;
}
.thanks_body h4 {
	font-size: 36px;
	margin-top: 0;
}
.thanks_body p {
	font-size: 24px;
	margin-bottom: 0;
}
.thanks_page {
	display: table-cell;
	vertical-align: middle;
}
footer {
	min-height: 126px;
	padding-top: 20px;
}
footer p {
	color: #919191;
	font-size: 18px;
}
footer span {
	text-decoration: underline;
	color: #2897e5;
	display: block;
	font-size: 18px;
}
.footer_logo {
	padding-top: 12px;
}
.made_by p {
	margin-bottom: 10px;
}
.copyright p {
	margin-top: 10px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
}
.made_by {
	text-align: right;
	padding-top: 20px;
}
.form_wrapper {
	margin: auto;
	text-align: center;
	position: relative;
}
.form_wrapper h6 {

}
.form_wrapper p {
	
}
label.error {
	color: red;
}
.form input::-webkit-input-placeholder {
	
}
.form input::-moz-placeholder {
	
}
.form input:-ms-input-placeholder {
	
}
.form input:-moz-placeholder {
	
}
.form textarea::-webkit-input-placeholder {
	
}
.form textarea::-moz-placeholder {
	
}
.form textarea:-ms-input-placeholder {
	
}
.form textarea:-moz-placeholder {
	
}
.form input {
	width: 100%;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin-top: 20px;
	color: #000;
}
.form button {
	width: 100%;
	max-width: 370px;
}
h1{
	
}
h2 {

}
